*{
    background-color: rgb(0, 0, 0);
}
@font-face {
    font-family: "Haris";
    src: url("./ScienceGothic-VariableFont_CTRS\,slnt\,wdth\,wght.ttf");
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0px 100px 0px 100px ;
    letter-spacing: 15px;
    font-family: "Haris";
    border-bottom: 25px solid aqua;
}

div{
    text-align: center ;
}

